		<div class="bottom">
			<div class="layout">
				<div class="table">
					<div class="smallLeagueBox" ng-repeat="league in leagues" ng-click="changeActiveLeague(league)" ng-class="{'smallLeagueBoxActive': league === activeLeague}">
						<div class="smallLeagueBoxName">
							<span>{{league.name}}</span>
						</div>
						<div class="smallLeagueBoxInfo">
							<span>{{league.bowlers.length}} Bowler(s)</span>
						</div>
					</div>
					<div class="smallLeagueBox"  ng-click="">
						<div class="smallLeagueBoxName">
							<span class="" data-toggle="modal" data-target="#addLeague">
										Make League
							</span>

						</div>
					</div>
				</div>
				<div class="leagueInfoBox">
					<div class="leagueInfoBoxTitle"><span>{{activeLeague.name}}</span></div>
					<div class="bowlers">
						<span class="title">Bowlers</span>
						<br/>
 						<div class="row"><div class="col-sm-8 col-sm-offset-2">
							<ul class="list-group">
								<li class="list-group-item bowler-item" ng-repeat="bowler in activeLeague.bowlers"><i class="fa fa-user"></i>
									&nbsp; {{bowler.name}}
									<button style="float: right; text-align:right;" class="btn btn-link" data-toggle="modal" data-target="#buyTicket" ng-click="updateBuyTicketModal(bowler)">
											Buy Ticket
									</button>
								</li>
								<li class="list-group-item bowler-item">
									<button class="btn bowler-add-button" data-toggle="modal" data-target="#addOtherBowlers" ng-click="getOtherBowlers()">Add Bowlers</button>
								</li>


							</ul>
						</div></div>
					</div>
					<div class="lotteries"><span class="title">Lotteries</span><br/>

							<div class="panel-group" role="tablist">
								<div ng-repeat="lottery in activeLeague.lotteries" class="panel panel-default">
									<div class="panel-heading" role="tab" id="collapseListGroupHeading1">
										<h5 class="panel-title">
											<button class="btn btn primary" data-target="#collapseListGroup1" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1" ng-click="sortTicketsByPerson()"><i class="fa fa-ticket"></i> &nbsp; 
												Lottery ID: {{lottery.id}}, league ID: {{lottery.league_id}}, balance: {{lottery.balance}}, payout: {{lottery.payout}}
											</button>
										</h5>
									</div>
									<div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
										<ul class="list-group">
 											<li class="list-group-item" ng-repeat="ticketHolder in lottery.ticketHolders"><i class="fa fa-ticket"></i> &nbsp;
 												Name: {{ticketHolder.name}}, NumTickets: {{ticketHolder.numTickets}}, ID: {{ticketHolder.bowlerID}}
											</li>

 										</ul>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="collapseListGroupHeading1">
										<h5 class="panel-title">
											<button class="btn bowler-add-button" data-toggle="modal" data-target="#drawTicket">
												Draw Ticket For Lottery	
											</button>
										</h5>
									</div>

								</div>
							</div>


				</div>
			</div>

			<div class="modal fade" id="drawTicket" tabindex="-1" role="dialog" aria-labelledby="drawTicket">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h4 class="modal-title" id="drawTicketLabel">Draw Ticket!</h4>
					</div>
					<div class="modal-body">
						<div ng-switch on="winningTicketSequence">
							<!-- DEFAULT STATE, NO TICKET HAS BEEN DRAWN -->
							<div class="row" ng-switch-default>
								<div class="col-lg-8 col-lg-offset-2">
										<button class="btn btn-primary btn-lg btn-block" ng-click="drawWinningTicket()">
											Draw Ticket!
										</button>
										<!-- <button class="btn" ng-click=""> -->
											<!-- Cancel! -->
										<!-- </button> -->
								</div>
							</div>
							<!-- STATE 1, WINNING TICKET HAS BEEN DRAWN, NOT ROLLED -->
							<div class="row" ng-switch-when="1">
								<div class="col-lg-8 col-lg-offset-2">

								{{getBowlerName(winningTicket.bowler_id)}} is the winner!!!

								<div class="form-group">
									<label for="newLeague" class="col-sm-2 control-label">Pins Knocked Over </label>
									<div class="col-sm-10">
										<input type="text" ng-model="newLeagueName" class="form-control" placeholder="Pins Knocked Over"/>
									</div>
								</div>
 								</div>
							</div>
							<!-- STATE 2, WINNING TICKET HAS BEEN DRAWN, PERSON HAS ROLLED -->
							<div class="row" ng-switch-when="2">
								<div class="col-lg-8 col-lg-offset-2">

								{{getBowlerName(winningTicket.bowler_id)}} has won {{winningTicket.payout * $scope.activeLeague.balance }}

 								</div>
							</div>

						</div>
					</div>
					<div class="modal-footer">

						<button type="button" class="btn" data-dismiss="modal">Close</button>
					</div>
				</div>
			  </div>
			</div>

			<div class="modal fade" id="addOtherBowlers" tabindex="-1" role="dialog" aria-labelledby="addOtherBowlersLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h4 class="modal-title" id="addOtherBowlersLabel">Add Bowlers!</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<ul class="list-group">
									<li class="list-group-item noselect" ng-repeat="bowler in activeLeague.otherBowlers" ng-click="changeActiveState(bowler.id)" ng-class="{'active': getActiveBowlers(bowler.id)}"><i class="fa fa-user"></i> &nbsp; {{bowler.name}}</li>
								</ul>

							</div>
						</div>
					</div>
					<div class="modal-footer">

						<button class="btn btn-primary" data-dismiss="modal" ng-click="addOtherBowlersToLeague()">Add Bowlers!</button>

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			  </div>
			</div>


			<div class="modal fade" id="addLeague" tabindex="-1" role="dialog" aria-labelledby="addLeague">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h4 class="modal-title" id="addLeagueLabel">Add Leagues!</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<div class="form-group">
									<label for="newLeague" class="col-sm-2 control-label">New League</label>
									<div class="col-sm-10">
										<input type="text" ng-model="newLeagueName" class="form-control" placeholder="New League"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" ng-click="makeLeague()" class="btn btn-primary" data-dismiss="modal">Add League</button>

						<button type="button" class="btn" data-dismiss="modal">Close</button>
					</div>
				</div>
			  </div>
			</div>

			<div class="modal fade" id="buyTicket" tabindex="-1" role="dialog" aria-labelledby="buyTicket">
				<div class="modal-dialog" role="document">
					<div class="modal-dialog modal-sm"><div class="modal-content">
						<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Buy Ticket!</h4>
					</div>
					<div class="modal-body">
						<!-- <div class="row"> -->
							<!-- <div class="col-lg-8 col-lg-offset-2"> -->
								<span style="text-align: center;">
									Buy a Ticket for {{ticketBuyer.name}}?
								</span>
								<br/>
							<!-- </div> -->
						<!-- </div> -->
					</div>
					<div class="modal-footer">
						<button type="button" ng-click="buyTicket(ticketBuyer.id)" class="btn btn-primary" data-dismiss="modal" style="text-align:center;">Buy!</button>

						<button type="button" class="btn" data-dismiss="modal">Close</button>
					</div>
				</div></div>
				</div>
			</div>

			<div class="modal fade" id="addBowler" tabindex="-1" role="dialog" aria-labelledby="addBowler">
				<div class="modal-dialog" role="document">
					<div class=""><div class="modal-content">
						<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Add Bowler!</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<div class="form-group">
									<label for="newBowlerName" class="col-sm-2 control-label">New Bowler</label>
									<div class="col-sm-10">
										<input type="text" ng-model="newBowlerName" class="form-control" placeholder="Name" id="newBowlerName"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" ng-click="makeBowler(newBowlerName)" class="btn btn-primary" data-dismiss="modal" style="text-align:center;">Add!</button>

						<button type="button" class="btn" data-dismiss="modal">Close</button>
					</div>
				</div></div>
			  </div>
			</div>




		</div>
