		<div class="bottom">
			<div class="layout">
				<div class="table">
					<div class="smallLeagueBox" ng-repeat="league in leagues" ng-click="changeActiveLeague(league)" ng-class="{'smallLeagueBoxActive': league === activeLeague}">
						<div class="smallLeagueBoxName">
							<span>{{league.name}}</span>
						</div>
						<div class="smallLeagueBoxInfo">
							<span>{{league.bowlers.length}} Bowlers, {{league.jackpot | currency}} Jackpot</span>
						</div>
					</div>
					<div class="smallLeagueBox"  ng-click="">
						<div class="smallLeagueBoxName">
							<span>Add New</span>
						</div>
					</div>
				</div>
				<div class="leagueInfoBox">
					<div class="leagueInfoBoxTitle"><span>{{activeLeague.name}}</span></div>
					<div class="bowlers">
						<span class="title">Bowlers</span>
						<!-- <br/>John Doe<br/> -->
						<br/>
<!-- 						All bowlers: 
						<ul>
							<li ng-repeat="b in activeLeague.bowlers">
								Name: {{b.name}}, ID: {{b.id}}
								<a ng-click="buyTicket(activeLeague.id, b.id, activeLeague.lotteries)">Buy Tickets</a>
							</li>
						</ul>
 -->						
 						<div class="row"><div class="col-sm-8 col-sm-offset-2">
							<ul class="list-group">
								<li class="list-group-item bowler-item" ng-repeat="bowler in activeLeague.bowlers"><i class="fa fa-user"></i>
									&nbsp;{{bowler.name}}
									<div class="buy-tickets-box">
										<button class="btn btn-link" data-toggle="modal" data-target="#buyTicket" ng-click="updateBuyTicketModal(bowler)">
											Buy Ticket
										</button>

									</div>
									<!-- <button class="buy-tickets-box">Buy Tickets</button> -->
								</li>
								<li class="list-group-item bowler-item">
									<button class="btn bowler-add-button" data-toggle="modal" data-target="#myModal" ng-click="getOtherBowlers()">Add Bowlers</button>
								</li>


							</ul>
						</div></div>
<!-- 						<button class="btn" data-toggle="modal" data-target="#myModal" ng-click="getOtherBowlers()">Add Bowlers</button>
 -->

<!-- 						<div class="row"><div class="col-sm-6 col-sm-offset-3">
							<div class="bowler-table">
								<div class="bowler-row" ng-repeat="bowler in activeLeague.bowlers">
									<div class="bowler-row-left">{{bowler.name}}</div>
									<div class="bowler-row-right">Buy Tickets</div>
								</div>
							</div>
						</div></div>
 -->
					</div>
					<div class="lotteries"><span class="title">Lotteries</span><br/>
<!-- 						<ul>
							<li ng-repeat="lottery in activeLeague.lotteries">
								<br/>
								<div class="row"><div class="col-sm-6 col-sm-offset-3">
									<ul class="list-group">
										<li class="list-group-item" ng-repeat="ticket in lottery.tickets"><i class="fa fa-ticket"></i>&nbsp;
											ID: {{ticket.id}}, BowlerID: {{ticket.bowler_id}}
										</li>
									</ul>
								</div></div>
							</li>
						</ul>
 -->

							<div class="panel-group" role="tablist">
								<div ng-repeat="lottery in activeLeague.lotteries" class="panel panel-default">
									<div class="panel-heading" role="tab" id="collapseListGroupHeading1">
										<h5 class="panel-title">
											<button class="btn btn primary" data-target="#collapseListGroup1" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1">
												Lottery ID: {{lottery.id}}, league ID: {{lottery.league_id}}, balance: {{lottery.balance}}, payout: {{lottery.payout}}
											</button>
										</h5>
									</div>
									<div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
										<ul class="list-group">
											<li class="list-group-item" ng-repeat="ticket in lottery.tickets"><i class="fa fa-ticket"></i>&nbsp;
												ID: {{ticket.id}}, BowlerID: {{ticket.bowler_id}}
											</li>
										</ul>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="collapseListGroupHeading1">
										<h5 class="panel-title">
											<button class="btn bowler-add-button" data-toggle="modal" data-target="#myModal" ng-click="getOtherBowlers()">
												Draw Ticket For Lottery	
											</button>
										</h5>
									</div>

								</div>
							</div>

					<!-- <br/>Balance: ${{activeLeague.jackpot}}</div> -->

				</div>
			</div>

			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Add Bowlers!</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<!-- {{activeLeague.otherBowlers}} -->
								<ul class="list-group">
									<li class="list-group-item noselect" ng-repeat="bowler in activeLeague.otherBowlers" ng-click="changeActiveState(bowler.id)" ng-class="{'active': getActiveBowlers(bowler.id)}"><i class="fa fa-user"></i> &nbsp; {{bowler.name}}</li>
								</ul>

								<button class="btn btn-default" ng-click="addOtherBowlersToLeague()">Add Bowlers!</button>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			  </div>
			</div>

			<div class="modal fade" id="addLeague" tabindex="-1" role="dialog" aria-labelledby="addLeague">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Add Leagues!</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
<!-- 								{{bowlers}}
								<br/>
								sdfhjkuhkjliohujn

								<ul class="bowlerSelect">
									<li class="bowlerSelectItem" ng-repeat="bowler in bowlers" ng-click="changeActiveState(bowler.id)" ng-class="{'bowlerSelectItemActive': getActiveBowlers(bowler.id)}">{{bowler.name}}</li>
								</ul>
 -->							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			  </div>
			</div>

			<div class="modal fade" id="buyTicket" tabindex="-1" role="dialog" aria-labelledby="buyTicket">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Buy Ticket!</h4>
					</div>
					<div class="modal-body">
						<!-- <div class="row"> -->
							<!-- <div class="col-lg-8 col-lg-offset-2"> -->
							Buy a Ticket for {{ticketBuyer.name}}?
							<!-- </div> -->
						<!-- </div> -->
						<button type="button" ng-click="buyTicket(ticketBuyer.id)" class="btn btn-primary" data-dismiss="modal">Buy!</button>

					</div>
					<div class="modal-footer">
					</div>
				</div>
			  </div>
			</div>



		</div>
